################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Storage
/Storage/StorageMVC/appsettings.json
