@model LegoMVC.Models.LegoModel

@{
    ViewData["Title"] = "AddLego";
}

<h1>AddLego</h1>

<h4>LegoModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateSet">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="SetName" class="control-label"></label>
                <input asp-for="SetName" class="form-control" />
                <span asp-validation-for="SetName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SetNumber" class="control-label"></label>
                <input asp-for="SetNumber" class="form-control" />
                <span asp-validation-for="SetNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Series" class="control-label"></label>
                <input asp-for="Series" class="form-control" />
                <span asp-validation-for="Series" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ElementsQuantity" class="control-label"></label>
                <input asp-for="ElementsQuantity" class="form-control" />
                <span asp-validation-for="ElementsQuantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReleaseDate" class="control-label"></label>
                <input asp-for="ReleaseDate" class="form-control" type="date" />
                <span asp-validation-for="ReleaseDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RetailPrice" class="control-label"></label>
                <input asp-for="RetailPrice" class="form-control" />
                <span asp-validation-for="RetailPrice" class="text-danger"></span>
            </div>
          @*   <div class="form-group">
                <label for="photo">Upload Photo</label>
                <input type="file" id="Photo" name="Photo" class="form-control-file" />
            </div> *@
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
