<!DOCTYPE html>
<html>
<head>
    <title>Delete Confirmation</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#btnYes').click(function () {
                var id = $('#setNumber').val();
                location.href = '/Delete/DeleteConfirmed/' + id;
            });
            $('#btnNo').click(function () {
                window.history.back();
            });
        });
    </script>
</head>
<body>
    <h2>Delete Confirmation</h2>
    <p>Are you sure you want to delete?</p>
    <input type="hidden" id="setNumber" value="@ViewBag.SetNumber" />
    <button id="btnYes">Yes</button>
    <button id="btnNo">No</button>
</body>
</html>
