@model int

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="~/css/site.css" />
    <title>Delete Confirmation</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#btnYes').click(function () {
                var id = $('#setNumber').val();
                location.href = '/Delete/DeleteConfirmed/' + id;
            });
            $('#btnNo').click(function () {
                window.history.back();
            });
        });
    </script>

    <style>
        body {
            background-color: #f0f0f0;
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }

        h2 {
            color: #333;
            text-align: center;
            margin: 20px 0;
        }

        p {
            text-align: center;
        }

        form {
            text-align: center;
        }

        button {
            background-color: #4CAF50;
            border: none;
            color: white;
            padding: 10px 20px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            transition-duration: 0.4s;
            cursor: pointer;
        }
        button-

            button:hover {
                background-color: #45a049;
            }
    </style>
</head>
<body>
    <h2>Delete Confirmation</h2>
    <p>Are you sure you want to delete?</p>
    <form method="post" action="/Delete/DeleteConfirmed/@Model">
        @Html.AntiForgeryToken()
        <input type="hidden" id="setNumber" value="@Model" />
        <button type="submit" id="btnYes">Yes</button>
        <button id="btnNo" style="background-color: red;">No</button>

    </form>
</body>
</html>
